<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
    <div class="d-flex">
        <% pokemons.forEach(pokemon => { %>
        <div class="card" style="width: 18rem; ">
           <img src="images/pokemon/<%= pokemon.pokemon_image %>" alt="" class="card-img-top" style="height: 18rem;">
           <div class="card-body">
                <h2 style="display: inline-block;"><%= pokemon.name %></h2>
                <% pokemon.types.forEach(type => { %>
                    <img src="images/types/<%= type %>" alt="" style="width: 50px;">
                <% })%>
           </div>
        </div>
        <% }) %>
    </div>
</body>
</html>